@import '../../../styles/all-paths';

.router-panel {
  display: flex;
  justify-content: center;
  height: calc(100vh - #{$top-panel-height});
  width: calc(100vw - #{$left-panel-width});
  padding: 20px;
  background: $white-2;
  overflow: auto;
}
