@import '../../../../styles/all-paths';

.layout-panel {
  position: relative;
  background: $white-0;
  width: calc(100vw - 300px);
  max-width: $desktop;
  min-height: 1484px;
  height: fit-content;

  .header {
    position: relative;
    width: 100%;
    height: 15vw;
    overflow: hidden;

    .title {
      position: relative;
      left: 10px;
      width: 100%;
      height: auto;
      font-family: $sigmar-one-regular;
      font-style: normal;
      font-weight: normal;
      // font-size: 150px;
      font-size: calc(1em + 6vw);
      line-height: auto;
      text-align: left;
      letter-spacing: 0.46875px;
      color: $orange;
      transform: rotate(-7deg) translateY(17%);
    }

    .triangle {
      position: relative;
      width: calc(100% + 50px);
      height: 250px;
      background: $orange;
      transform: rotate(-7deg);
    }
  }

  .main {
    position: relative;
    width: 100%;
    height: 1220px;
    top: calc(-1vw);
    background: $orange;

    .intro {
      position: absolute;
      width: 100%;
      height: 159px;
      left: 50%;
      transform: translateX(-50%);



      .content {
        position: absolute;
        bottom: 0px;
        width: calc(100% - 30px);
        max-width: 613px;
        min-height: 105px;
        height: fit-content;
        left: 50%;
        transform: translateX(-50%);
        background: $white-0;
        border-radius: 24px 24px 100px 100px;

        .title {
          position: absolute;
          top: 0px;
          right: 0px;
          transform: translateY(calc(-100% + 26px));
          font-family: $sigmar-one-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          font-size: calc(1em + 2.5vw);
          line-height: 79px;
          text-align: center;
          letter-spacing: 0.15px;
          color: $white-0;
        }

        .label {
          position: absolute;
          left: 20px;
          top: 18px;
          font-family: $poppins-semi-bold;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04375px;
          color: $black-1;
        }

        .passage {
          position: absolute;
          top: 41px;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - 130px);
          min-height: 43px;
          font-family: $poppins-italic;
          font-style: italic;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04375px;
          color: $black-2;
        }
      }
    }

    .level-container {
      position: absolute;
      max-width: 1056px;
      width: calc(100% - 40px);
      height: 778px;
      left: 50%;
      transform: translateX(-50%);
      top: 220px;

      .tiles-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 55px;

        .tile-holder {
          flex: 1 0 0px;
          justify-content: center;
          align-items: center;

          .tile {
            position: relative;
            display: block;

            &.move-down {
              top: 51px;
            }

            &.move-half-down {
              top: 25px;
            }
          }

          &.grid-column-span-2 {
            grid-column: span 2;
          }

          &.grid-column-span-3 {
            grid-column: span 3;
          }
        }

      }
    }
  }

  .footer {
    position: relative;
    top: -50px;
    width: 100%;
    height: 13vw;
    overflow: hidden;
    background: $orange;

    .content {
      position: relative;
      width: 100%;
      font-family: $sigmar-one-regular;
      font-style: normal;
      font-weight: normal;
      font-size: calc(1em + 6vw);
      text-align: right;
      padding-right: 20px;
      letter-spacing: 0.46875px;
      color: $white-0;
      transform: rotate(5deg) translateY(17%);
    }

    .triangle {
      position: relative;
      left: -50px;
      transform: rotate(5deg);
      width: calc(100% + 100px);
      height: 191px;
      background: $white-0;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .layout-panel .main .level-container .tiles-container {
    grid-template-columns: auto auto auto auto;
  }

  .layout-panel .main {
    height: 1440px;
  }
}

@media only screen and (max-width: 1250px) {
  .layout-panel .main .level-container .tiles-container {
    grid-template-columns: auto auto auto;
  }

  .layout-panel .main {
    height: 1840px;
  }
}

@media only screen and (max-width: 1000px) {
  .layout-panel .main .level-container .tiles-container {
    grid-template-columns: auto auto;
  }

  .layout-panel .main {
    height: 2250px;
  }
}

@media only screen and (max-width: 790px) {
  .layout-panel .main .level-container .tiles-container {
    grid-template-columns: auto;
  }

  .layout-panel .main {
    height: 4200px;
  }
}



@media only screen and (max-width: 800px) {
  .layout-panel .main .intro .content {
    min-height: 130px;
  }
}

@media only screen and (max-width: 635px) {
  .layout-panel .main .intro .content {
    min-height: 160px;
  }
}
