<div
    class="layout-panel"
    (window:resize)="windowResize($event)"
>
    <div class="header">
        <div class="title">Pokemon!</div>
        <div class="triangle"></div>
    </div>
    <div class="main">
        <div class="intro">

            <div class="content">
                <div class="title">Starters</div>
                <div class="label">Starter Pokemon</div>
                <div class="passage">
                    Starter pokemon are the cutest pokemon in the world! They hold the world record for cuteness
                </div>
            </div>
        </div>
        <div class="level-container">
            <div class="tiles-container">
                <div
                    class="tile-holder"
                    *ngFor="let tile of tiles; let i = index"
                    [ngClass]="{'grid-column-span-2': (i === 4 || i === 5) && fourCol, 'grid-column-span-3': (i === 9) && threeCol}"
                >
                    <div
                        class="tile"
                        [ngClass]="{
                          'move-down':
                            (((i < 5 && i%2 !== 0) || (i > 5 && i%2 === 0)) && desktop) ||
                            ((i%2 !== 0) && (i !== 4 && i !== 5) && fourCol) ||
                            ((i === 1 || i === 4 || i===7 || i===9) && threeCol) ||
                            ((i % 2 !== 0) && twoCol),
                          'move-half-down':
                          ((i === 4 || i === 5) && fourCol)
                      }"
                    >
                        <app-tile></app-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="content">Yeah!</div>
        <div class="triangle"></div>
    </div>
</div>
