@import '../../../styles/all-paths';

:host {
  position: relative;
  width: 172px;
  height: 337px;
  margin: 0 auto;
  ;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 172px;
  height: 337px;
  background: $orange;


  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 39px;
    color: $white-0;

    .tile-label {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      font-family: $sigmar-one-regular;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.075px;
    }
  }

  .middle {
    margin: 10px 0 0 0;
    width: 100%;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-container {
      position: relative;
      width: 172px;
      height: 172px;

      .outline-behind {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 18px);
        height: calc(100% + 18px);
        border: 10px solid $black-0;
        border-radius: 50%;
        background: $white-0;
        transform: translate(-50%, -50%);
      }

      .outline-transparent {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        transform: translate(-50%, -50%);

        .line {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 10px;
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ff622d+100 */
          background: $orange;
          /* Old browsers */
          background: -moz-linear-gradient(left, transparent 0%, $orange 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, transparent 0%, $orange 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, transparent 0%, $orange 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#ff622d', GradientType=1);
          /* IE6-9 */


        }
      }

      .outline-before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border: 10px solid transparent;
        border-radius: 50%;
        background: $white-0;
        transform: translate(-50%, -50%);
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 110px;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 116px;

    .content {
      position: absolute;
      bottom: 0;

      .title {
        height: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        font-family: $poppins-regular;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.05px;
        color: $white-0;
      }

      .passage {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        font-family: $poppins-thin;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.0375px;
        color: $white-0;
      }
    }
  }
}
