<div class="tile">
    <div class="top">
        <div class="tile-label">#001</div>
    </div>
    <div class="middle">
        <div class="image-container">
            <div class="outline-behind"></div>
            <div class="outline-transparent">
                <div
                    class="line"
                    *ngFor="let line of lineArray;let i = index"
                    [ngStyle]="{'transform-origin': '0% calc(50% - 5px)','transform':'rotate('+(i*12)+'deg) translate(-50%, -50%)','left':'calc(50% - '+(i*0)+'px)'}"
                ></div>
            </div>
            <div class="outline-before"></div>
            <img
                [src]="'assets/images/svgs/pokemon.svg'"
                alt
            >
        </div>
    </div>
    <div class="bottom">
        <div class="content">
            <div class="title">Bulbasaur</div>
            <div class="passage">
                There is a plan seed on it's back right from the day pokémon is born. THe seed slowly grows larger.
            </div>
        </div>
    </div>
</div>
