@import '../../../../styles/all-paths';

:host {
  height: 100%;
}

.layout-panel {
  position: relative;
  background: $white-0;
  width: $desktop;
  height: 1484px;

  .header {
    position: relative;
    width: 100%;
    height: 235px;
    overflow: hidden;

    .title {
      position: relative;
      left: 10px;
      width: 837px;
      height: 246px;
      font-family: $sigmar-one-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 150px;
      line-height: 246px;
      text-align: center;
      letter-spacing: 0.46875px;
      color: $orange;
      transform: rotate(-7deg);
    }

    .triangle {
      position: relative;
      top: -19px;
      width: calc(100% + 100px);
      height: 200px;
      background: $orange;
      transform-origin: bottom left;
      transform: rotate(-7deg);
    }
  }

  .main {
    position: relative;
    width: 100%;
    height: 1220px;
    background: $orange;

    .intro {
      position: absolute;
      width: 613px;
      height: 159px;
      left: 50%;
      transform: translateX(-50%);

      .title {
        position: absolute;
        top: 0px;
        right: 0px;
        font-family: $sigmar-one-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 79px;
        text-align: center;
        letter-spacing: 0.15px;
        color: $white-0;
      }

      .content {
        position: absolute;
        bottom: 0px;
        width: 613px;
        height: 105px;
        background: $white-0;
        border-radius: 24px 24px 100px 100px;

        .label {
          position: absolute;
          left: 20px;
          top: 18px;
          font-family: $poppins-semi-bold;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04375px;
          color: $black-1;
        }

        .passage {
          position: absolute;
          top: 41px;
          left: 50%;
          transform: translateX(-50%);
          width: 530px;
          height: 43px;
          font-family: $poppins-italic;
          font-style: italic;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04375px;
          color: $black-2;
        }
      }
    }

    .level-container {
      position: absolute;
      width: 1056px;
      height: 778px;
      top: 220px;
      // left: 195px;
      left: 50%;
      transform: translateX(-50%);

      .tiles-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 55px;

        .tile-holder {
          flex: 1 0 0px;
          justify-content: center;
          align-items: center;

          .tile {
            position: relative;
            display: block;

            &.move-down {
              top: 51px;
            }
          }
        }

      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 220px;
    overflow: hidden;

    .content {
      position: absolute;
      width: 568px;
      height: 246px;
      right: 40px;
      bottom: -9px;
      font-family: $sigmar-one-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 150px;
      line-height: 246px;
      text-align: center;
      letter-spacing: 0.46875px;
      color: $white-0;
      transform: rotate(5deg);
    }

    .triangle {
      position: absolute;
      bottom: -155px;
      right: 0px;
      transform-origin: bottom right;
      transform: rotate(5deg);
      width: calc(100% + 100px);
      height: 191px;
      background: $white-0;
    }
  }
}
