<div class="layout-panel">
    <div class="header">
        <div class="title">Pokemon!</div>
        <div class="triangle"></div>
    </div>
    <div class="main">
        <div class="intro">
            <div class="title">Starters</div>
            <div class="content">
                <div class="label">Starter Pokemon</div>
                <div class="passage">
                    Starter pokemon are the cutest pokemon in the world! They hold the world record for cuteness
                </div>
            </div>
        </div>
        <div class="level-container">
            <div class="tiles-container">
                <div
                    class="tile-holder"
                    *ngFor="let tile of tiles; let i = index"
                >
                    <div
                        class="tile"
                        [ngClass]="{'move-down': (i%2 !== 0)}"
                    >
                        <app-tile></app-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="triangle"></div>
        <div class="content">Yeah!</div>
    </div>
</div>
