<div class="left-panel">
    <a
        *ngFor="let button of buttons"
        class="button"
        [routerLink]="button.routePath"
        [routerLinkActive]="'active'"
        (click)="switchScreen(button)"
    >
        <span>{{button.label}}</span>
    </a>
    <div
        *ngIf="showInfo"
        class="info"
    >
        Please inspect the page vertically and resize the window to see the responsive layout <br><br>
        Note: Responsive design can become easy when we use BOOTSTRAP css framework
    </div>
</div>
