@import '../../../styles/all-paths';

.left-panel {
  width: $left-panel-width;
  height: calc(100vh - #{$top-panel-height});
  background: $white-0;
  border-right: 1px solid $white-1;

  .button {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background: $white-0;
    min-height: 38px;
    border-bottom: 1px solid $light-grey;
    cursor: pointer;
    font-size: 12px;
    font-family: $poppins-regular;
    text-decoration: none;
    color: $black-0;

    &:hover {
      background-color: $white-3;
    }

    &.active {
      background-color: $black-0;
      color: $white-0;
      font-family: $poppins-semi-bold;
    }
  }

  .info {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    font-family: $poppins-italic;
    font-size: 14px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
