@import '../../../../styles/all-paths';

.layout-panel {
  position: relative;
  background: $white-0;
  width: $xs;
  min-height: 1484px;
  height: fit-content;

  .header {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;

    .title {
      position: relative;
      left: 13px;
      width: calc(100% - 30px);
      height: 80px;
      font-family: $sigmar-one-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 80px;
      text-align: center;
      letter-spacing: 0.46875px;
      color: $orange;
      transform: rotate(-7deg);
    }

    .triangle {
      position: relative;
      top: 0px;
      width: calc(100% + 100px);
      height: 80px;
      background: $orange;
      transform-origin: bottom left;
      transform: rotate(-7deg);
    }
  }

  .main {
    position: relative;
    width: 100%;
    min-height: 4160px;
    height: fit-content;
    background: $orange;

    .intro {
      position: absolute;
      width: calc(100% - 30px);
      height: 130px;
      left: 50%;
      transform: translateX(-50%);

      .title {
        position: absolute;
        top: -25px;
        right: 0px;
        font-family: $sigmar-one-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 79px;
        text-align: center;
        letter-spacing: 0.15px;
        color: $white-0;
      }

      .content {
        position: absolute;
        bottom: -15px;
        width: 100%;
        height: 120px;
        background: $white-0;
        border-radius: 24px 24px 100px 100px;

        .label {
          position: absolute;
          left: 20px;
          top: 10px;
          font-family: $poppins-semi-bold;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04375px;
          color: $black-1;
        }

        .passage {
          position: absolute;
          top: 41px;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - 40px);
          height: 43px;
          font-family: $poppins-italic;
          font-style: italic;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04375px;
          color: $black-2;
          text-align: center;
        }
      }
    }

    .level-container {
      position: absolute;
      width: calc(100% - 100px);
      min-height: 1300px;
      height: fit-content;
      top: 160px;
      left: 50%;
      transform: translateX(-50%);

      .tiles-container {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 55px;

        .tile-holder {
          flex: 1 0 0px;
          justify-content: center;
          align-items: center;

          .tile {
            position: relative;
            display: block;

            &.move-down {
              top: 51px;
            }
          }
        }

      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 130px;
    overflow: hidden;
    background: $orange;

    .content {
      position: absolute;
      width: 200px;
      height: 226px;
      right: 25px;
      bottom: -47px;
      font-family: $sigmar-one-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 246px;
      text-align: center;
      letter-spacing: 0.46875px;
      color: $white-0;
      transform: rotate(5deg);
    }

    .triangle {
      position: absolute;
      bottom: -165px;
      right: 0px;
      transform-origin: bottom right;
      transform: rotate(5deg);
      width: calc(100% + 100px);
      height: 191px;
      background: $white-0;
    }
  }
}

* {
  font-size: 2vmax;
}
