/*
 * list of colors
 */
$dark-grey:#2c2c2c;
$light-grey: #e5e5e5;

$black-0:#000000;
$black-1:#1F1E1D;
$black-2:#1F1E1D;

$white-0:#FFFFFF;
$white-1:#e5e5e5;
$white-2:#f5f5f5;
$white-3:#f0f0f0;

$orange:#F5A623;
