// all fonts imported here and assigned to sass varaibles to use all over the project

@font-face {
  font-family: poppins-regular;
  src: url(../assets/fonts/poppins/Poppins-Regular.woff) format('woff');
}

@font-face {
  font-family: poppins-italic;
  src: url(../assets/fonts/poppins/Poppins-Italic.woff) format('woff');
}

@font-face {
  font-family: poppins-thin;
  src: url(../assets/fonts/poppins/Poppins-Thin.woff) format('woff');
}

@font-face {
  font-family: poppins-medium;
  src: url(../assets/fonts/poppins/Poppins-Medium.woff) format('woff');
}

@font-face {
  font-family: poppins-semi-bold;
  src: url(../assets/fonts/poppins/Poppins-SemiBold.woff) format('woff');
}

@font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/poppins/Poppins-Bold.woff) format('woff');
}

@font-face {
  font-family: sigmar-one-regular;
  src: url(../assets/fonts/sigmar-one-regular/SigmarOne-Regular.woff) format('woff');
}

$poppins-regular:poppins-regular;
$poppins-italic:poppins-italic;
$poppins-thin:poppins-thin;
$poppins-medium:poppins-medium;
$poppins-semi-bold:poppins-semi-bold;
$poppins-bold:poppins-bold;

$sigmar-one-regular:sigmar-one-regular;
