// store all viewport sizes here

$top-panel-height: 48px;
$left-panel-width: 200px;


// reference for device sizes: https://www.w3schools.com/bootstrap4/bootstrap_grid_medium.asp

// desktop size
$desktop:1440px;

// large device size
$lg:1200px;

// medium device size
$md:992px;

// small device size
$sm:576px;

// extra small device size lessthan 576px
$xs:360px;
