@import '../../../styles/all-paths';

.top-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $top-panel-height;
  background: $dark-grey;

  .title {
    color: $white-0;
    text-align: center;
    font-size: 20px;
    font-family: $poppins-semi-bold;
  }
}
