<div class="main-panel">
    <div class="left-panel-container">
        <app-left-panel></app-left-panel>
    </div>
    <div class="router-panel-container">
        <app-router-panel></app-router-panel>
    </div>
    <!-- <div class="right-panel-container">
        <app-right-panel></app-right-panel>
    </div> -->
</div>
